/* latin-ext */

@font-face{
   font-family: 'Lato', sans-serif;
}

.results-container {
    padding-top: 20px;
}

.results-container .progress {
    margin-top: -12px;
}

.left-pane {padding-left: 1px;}
.left-pane-admin {padding-left: 3px;}
.left-pane ol {padding-left: 0px; margin: 0px; padding-bottom: 20px;}
.left-pane li {
    font-family: "Lato", sans-serif;
    font-size:15px;
    list-style-type: none;
    padding-top: 4px;
    margin: 0px;
}
.left-pane h1 {font-family: "Lato", sans-serif; font-size:18px; color:#000000;
    margin-top: 0px; margin-bottom: 4px; font-weight: 1000;}

.left-pane h2 {font-family: "Lato", sans-serif; font-size:15px; font-weight: 1000; color:#000000; font-weight:bold; margin-top: 20px; padding-bottom: -5px;}

.left-pane .nav>li>a {
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 8px;
    padding-right: 5px;
}

.left-pane .nav-pills>li.active>a {
    background-color: #002439;
}

.left-pane a {
    color: #002439;
}

.right-pane {padding-right: 1px; padding-left: 0px;}


.index-bar {
    padding-top: 120px;
    padding-bottom: 70px;
}

.title {
    font-size: 60;
    color: #0076b8;
    font-weight: 300;
    font-family: "Lato", sans-serif;
    padding-bottom: 60px;
}

.index-text {
    color: #434F67;
    font-size: 24px;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    padding-top: 35px;
}


.search-bar {
    padding-top: 48px;
    background-color: #F1F1F1;
    padding-bottom: 15px;
    margin-bottom:18px;
    border-bottom: 1px solid #e5e5e5;
}

.queryrow {
    padding-top: 55px;
}

.left-pane .glyphicon {
    padding-right: 5px;
}

@media (max-width: 767px) {
.search-bar {
    padding-top: 68px;
}
.queryrow {
    padding-top: 68px;
}
}

.pagination-buttons {
    text-align: center;
}

.result {padding-bottom: 25px; font-family: "Lato", sans-serif;  line-height: 160%; padding-left: 5px;}
.result .ip {color: #0076b8; font-size:16px;}

.result .detail {padding-bottom: 10px; padding-right: 14px; padding-left: 1px}

.result .results-metadata {padding-top: 1px; }
.result .results-highlight {padding-bottom: 10px; }

.result .glyphicon {padding-right: 3px }

.login-box {margin-bottom: 0px}
.login-form {padding-top: 50px;}

.reset-password-box p {padding-bottom: 5px;}
.reset-password-box {margin-bottom: 5px;}

h1 {font-family: "Lato"; font-weight: bold; font-size: 25px; margin-top: 2px; margin-bottom: 0px; padding-bottom: 0px}
h2 {font-family: "Lato"; font-weight: bold; font-size: 25px; padding-bottom: 0px; margin-bottom: 0px; padding-top:15px}
hr {padding-top: 0px; margin-top: 7px; margin-bottom: 10px}


.left-pane-admin ul {padding-left: 0px; margin: 0px; font-weight: bold;}
.left-pane-admin li {font-family: "Lato", sans-serif; font-size:15px; list-style-type: none; padding-top: 4px; padding-left: 12px; margin: 0px;}
.left-pane-admin h1 {font-family: "Lato", sans-serif; font-size:15px; color:#000000; padding-bottom: 5px; padding-top: 5px;}

.dl-spaced dt {padding-bottom: 20px; margin-left: 0px;}

.dl-reports dd {padding-bottom: 20px; margin-left:220px;}
.dl-reports dt {width: 200px}

@media (min-width: 768px) {
    .dl-hostbox dd {padding-bottom: 2px; margin-left: 110px}
    .dl-hostbox dt {width: 100px;}
    .dl-hostbox {margin-bottom: 0px; padding-bottom: -2px;}
}

.dl-report dt { padding-top: 4px;}
.dl-report dd { padding-bottom: 4px;}


@media (min-width: 768px) {
  .dl-host dt{margin-left: -30px; padding-bottom: 2px}
  .dl-host dd{margin-left: 140px; padding-bottom: 2px}
}

@media (min-width: 768px) {
  .dl-dns dt{margin-left: -80px; padding-bottom: 2px}
  .dl-dns dd{margin-left: 90px; padding-bottom: 2px}
}

a.bolded-link {font-weight: bold;}

.reports-listing h4 {margin-bottom: 5px}
.reports-listing p {margin-bottom: 10px}

.form-center-outer {width: 100%; text-align: center;}
.form-center {display: inline-block;}

pre { border: none; margin: 0 0 0 0; padding: 0 0 0 0 }
code { border: none; margin: 0 0 0 0; padding: 0 0 0 0 }

.bigspace {
    padding-left: 5px;
    padding-right: 5px;
}

.host-details h4 {font-weight: bold; color: #0076b8; padding-bottom: 2px; font-size: 15px}

.host-details h1 {
    color: #000000;
    font-size: 34;
    font-weight: normal;
    font-family: "Lato", sans-serif;
}

.host-details h2 {
    color: #000000;
    font-size: 30;
    font-weight: 300;
    font-family: "Lato", sans-serif;
}

.host-details {
    word-wrap:break-word;
    font-weight: normal;
    font-family: "Lato", sans-serif;
    font-size: 105%
}

.historical-data h2 {padding-bottom: 5px; font-size: 23px; padding-left: 2px;}


.query-metadata {
    margin-left: 0px;
    padding-left: 0px;
    list-style-type: none;
}

.query-metadata li {
    margin-left: 0px;
    padding-left: 0px;
    list-style-type: none;
}



/* footer at the bottom of every page */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 250px;
  padding-top: 25px;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  /*height: 120px;*/
  background-color: #222222;
  padding-top: 30px;
  padding-right: 10px;
  /*font-family: "Lato";*/
  font-size: 12px;
  font-weight: 300;
  color: #FFFFFF;
}

.footer ul {
    list-style-type: none;
    padding-left: 0px;
}

.footer li {
    padding-bottom: 5px;
}

.right {
    text-align: right;
}

.footer a {
    color: #FFFFFF
}

.left-table {
    padding-left: 0px;
}

.right-table {
    padding-right: 0px;
}



.page h1 {
    font-size: 34;
    color: #0076b8;
    font-weight: normal;
    font-family: "Lato", sans-serif;
}

.page h2 {
    font-size: 34;
    color: #0076b8;
    font-weight: 300;
    font-family: "Lato", sans-serif;
}

.page h3 {
    font-size: 34;
    color: #0076b8;
    font-weight: 300;
    font-family: "Lato", sans-serif;
    margin-top: 0px;
}

.page p {
    font-weight: 300;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    padding-right: 10px;
}

.page {
    font-family: "Lato", sans-serif;
    font-size: 14px;
}

.page p code {
    font-size: 75%;
}

.login-box h1 {
    font-size: 34;
    color: #0076b8;
    font-weight: 300;
    font-family: "Lato", sans-serif;
    padding-bottom: 15px;
}

.login-box p {
    font-weight: 300;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    padding-right: 10px;
}


.raw ol {
    font-weight: 300;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    padding-left: 75px;
}

.raw li {
    padding-bottom: 4px;
    padding-right: 100px;
}

.about dl {
    font-weight: 300;
    font-family: "Lato", sans-serif;
    font-size: 15px;
}

.about dd {
     padding-bottom: 2px;
}

.about ul {
    font-weight: 300;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    padding-left: 75px;
}

.about li {
    padding-bottom: 4px;
    padding-right: 100px;
}








.apidocs h1 {
    font-size: 34;
    color: #0076b8;
    font-weight: normal;
    font-family: "Lato", sans-serif;
}

.apidocs h2 {
    font-size: 34;
    color: #0076b8;
    font-weight: 300;
    font-family: "Lato", sans-serif;
}

.apidocs h3 {
    font-size: 34;
    color: #0076b8;
    font-weight: 300;
    font-family: "Lato", sans-serif;
    margin-top: 0px;
}

.apidocs {
    font-family: "Lato", sans-serif;
    font-size: 16px;
}


.apidocs .name {
    color: #0076b8;
    font-weight: bold
}

.apidocs .error-code {
    color: #0076b8;
    font-weight: bold
}


.apidocs dl {
    font-family: "Lato", sans-serif;
    font-size: 16px;
}

.apidocs dd {
     padding-bottom: 20px;
     margin-right: 50px;
}

.apidocs ul {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    padding-left: 0px;
}

.apidocs li {
    padding-bottom: 15px;
    padding-right: 100px;
    list-style-type: none;
}



.abstract p {
    font-size: 17px;
    text-align: justify;
}

.query-page h1 {
    font-size: 34;
    color: #0076b8;
    font-weight: normal;
    font-family: "Lato", sans-serif;
}

.query-page h2 {
    font-size: 34;
    color: #0076b8;
    font-weight: 300;
    font-family: "Lato", sans-serif;
}

.query-page p {
    font-weight: 300;
    font-family: "Lato", sans-serif;
    font-size: 16px;
}

.query-page h4 {
    font-size: 20;
    font-weight: normal;
    font-family: "Lato", sans-serif;
}

.query-page code {
    padding-bottom: 10px;
}

.query-documentation {
    padding-top: 20px;

}

.query-results {
    overflow: auto;
}

.record {
    color: #A0A0A0;
    font-weight: bold;
}

.CodeMirror { border: 1px solid #ddd; margin-bottom: 7px;}
.CodeMirror pre { padding-left: 7px; line-height: 1.25; }

.dl-snapshot dt {
	text-align: left;
	margin-bottom: 1em;
	width: auto;
	padding-right: 1em;

}
.dl-api {padding-top: 10px; font-size: 18px;}
.dl-api dt {text-align: left; width: auto; padding-right: 1em; padding-left: 60px; font-size: 17px;}
.dl-api dd {text-align: left; margin-bottom: 10px; padding-right: 150px; font-size: 18px}

.raw-table {
    table-layout: fixed;
    word-wrap: break-word;
}

.table-short {
  overflow: auto;
  text-overflow: ellipsis;
}

.table-anchor {
    display: block; position: relative; top: -40px; visibility: hidden;
}

IMG.paper {
    display: block;
    margin: auto;
    padding-right: 20px;
}

IMG.centered {
   display: block;
   margin-left: auto;
   margin-right: auto
}

.gears {
	padding-top: 100px;
}

.certificate {
    margin-bottom: 7px;
}


.nav-raw-primary ul  {
    padding-left: 0px;
}

.nav-raw-primary .glyphicon {
    padding-right: 5px;
}

.nav-raw-primary li {
    font-weight: 400;
    padding-left: 20px;
    padding-right: 20px;
}

.rawpage ul {
    font-weight: 300;
    font-family: "Lato", sans-serif;
    font-size: 18px;
}

.centered-pills {
    text-align: center
}
.centered-pills ul.nav-pills {
    display: inline-block
}
.centered-pills li {
    display: inline
}
.centered-pills a {
    float: left
}
* html .centered-pills ul.nav-pills, *+html .centered-pills ul.nav-pills {
    display: inline
}

.querystatistics {
    padding-left: 7px;
    color: #808080;
}

.statistics {
    padding-left: 7px;
    color: #808080;
    margin-top: -18px;
}

.fullscreen-results {
    padding-top: 45px;
    padding-left: 12px;
    padding-right: 12px;
}

.bigcomma {
    margin-right: 2px;
}

.caretpadding {
    padding-left: 5px;
}

.search-bar .glyphicon {
    padding-right: 5px;
}

.index-menu .glyphicon {
    padding-right: 5px;
}

.dropdown .glyphicon {
    margin-right: 8px;
}

.nav-topmenu li {
    display: inline-block;
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 30px;
    color: #707070;
    font-family: "Lato"; font-size: 15px;
}
/*
.nav-topmenu a {
    color: #909090;
}

.nav-topmenu a:hover {
    text-decoration: none;
    color: #303030;
}
*/

.nav-topmenu a:focus {
    text-decoration: none;
    color: #303030;
}

.nav-topmenu .active {
    font-family: "Lato"; font-size: 15px;
    color: #0076b8;
    font-weight: bold;
    padding-bottom: 12px;
    border-bottom: 3px solid;
}

.nav-topmenu .active a {
    color: #0076b8;
}

.nav-topmenu {
    margin-bottom: 20px;
    padding-left: 0px;
    padding-bottom: 5px;
    border-bottom: 1px solid #D8D8D8;
}

.dropdown-menu li {
    display: block;
    margin-right: 0px;
}

.dropdown-menu a {
  color: #002439;
}

.dropdown-menu li>a:hover {
  background-color:#f5f5f5;
  color: #002439;
}

.modal-headermenu {
  border-bottom: 1px solid #e5e5e5;
  padding-top: 20px;
}

.modal-menu {
    padding-left: 35px;
    margin-bottom: 0px;
}

.modal-menu a {
    color: #909090;
    text-decoration: none;
}

.modal-menu li>a:hover {
  color: #002439;
  text-decoration: none;
}

.modal-menu li {
    display: inline-block;
    margin-right: 40px;
    color: #707070;
    font-family: "Lato"; font-size: 17px;
    padding-left: 2px;
    padding-right: 2px;

}

.modal-menu .active a {
    color: #337ab7;
}

.modal-menu .active a:hover {
  color: #337ab7;
  text-decoration: none;
}

.modal-menu .active {
    font-family: "Lato"; font-size: 17px;
    color: #0076b8;
    padding-bottom: 15px;
    border-bottom: 4px solid;
}

.modal-body {
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 25px;

}

.modal-body h2 {
    font-size: 17px;
    font-weight: normal;
    color: #0076b8;
    font-family: "Lato", sans-serif;
    padding-top: 5px;
}

.modal-body {
    font-family: "Lato", sans-serif;
    font-size: 15px;
    word-wrap: break-word;         /* All browsers since IE 5.5+ */
    overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
    width: 100%;
}

.error-example {
    padding-top: 8px;
}

.nosearchbar {
    padding-top: 48px;
}

a[title="站长统计"] {
    display: none;
}